In [1]:
from IPython.core.display import HTML, display
display(HTML("<style> .container { width: 98% !important } </style>"))

In [2]:
from utilities import *

import joblib
import tensorflow as tf

In [3]:
def reg_impute(data):
    for s in scanners:
        dx = data['X'] - ble[s]['X']
        dy = data['Y'] - ble[s]['Y']
        d = np.sqrt(np.square(dy) + np.square(dx))
        reg = joblib.load('../Models/linear_distance_models/{}.joblib'.format(s))
        ss = pd.Series(reg.predict(d.values.reshape((-1, 1))))
        data[s].fillna(ss, inplace=True)

In [4]:
ble = read_ble("../Data/ble.csv")

In [5]:
pin = read_pin("../Data/pin.csv")

In [6]:
data = read_data("../Data/rssi5.csv")
data[scanners] = min_max_scaling(data[scanners])
data

All beacons: ['0117C55D14E4']
Selecting all

,time,location,C400A2E19293,CD4533FFC0E1,D2B6503554D7,DB8B36A69C56,DD697EA75B68,DF231643E227,E13B805C6CB0,E43355CA8B96,E6D9D20DD197,E8FD0B453DC4,E96AF2C858BA,EC72840D9AD3,F1307ECB3B90,F1EDAF28E08A,F69A86823B96,FB2EE01C18CE,FDAE5980F28C
0,2019-12-02 01:05:32.956,V1_32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.066667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-12-02 01:05:32.976,V1_32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.300000,NaN,NaN,NaN,NaN
2,2019-12-02 01:05:33.015,V1_32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.466667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-02 01:05:33.034,V1_32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.350000,NaN,NaN,NaN,NaN
4,2019-12-02 01:05:33.096,V1_32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.533333,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49658,2019-12-12 01:47:54.481,V1_26,0.516667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49659,2019-12-12 01:47:54.683,V1_26,NaN,NaN,NaN,0.383333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49660,2019-12-12 01:47:54.736,V1_26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.683333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49661,2019-12-12 01:47:54.772,V1_26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.266667,NaN,NaN,NaN,NaN
49662,2019-12-12 01:47:54.796,V1_26,NaN,NaN,0.383333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.sort_values("time", inplace=True)
data = data.groupby("location").rolling(30, min_periods=1).mean().reset_index()
data = data.set_index("location").groupby("location").ffill().reset_index()

In [8]:
data

,location,level_1,C400A2E19293,CD4533FFC0E1,D2B6503554D7,DB8B36A69C56,DD697EA75B68,DF231643E227,E13B805C6CB0,E43355CA8B96,E6D9D20DD197,E8FD0B453DC4,E96AF2C858BA,EC72840D9AD3,F1307ECB3B90,F1EDAF28E08A,F69A86823B96,FB2EE01C18CE,FDAE5980F28C
0,V1_10,30171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.183333,NaN,NaN,NaN,NaN,NaN,NaN
1,V1_10,30172,NaN,NaN,NaN,NaN,NaN,NaN,0.300000,NaN,NaN,NaN,0.183333,NaN,NaN,NaN,NaN,NaN,NaN
2,V1_10,30173,0.533333,NaN,NaN,NaN,NaN,NaN,0.300000,NaN,NaN,NaN,0.183333,NaN,NaN,NaN,NaN,NaN,NaN
3,V1_10,30174,0.533333,NaN,NaN,NaN,NaN,NaN,0.300000,0.266667,NaN,NaN,0.183333,NaN,NaN,0.416667,NaN,NaN,NaN
4,V1_10,30175,0.533333,NaN,NaN,NaN,NaN,NaN,0.300000,0.266667,NaN,NaN,0.183333,NaN,0.566667,0.416667,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49658,V1_9,43166,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,0.15,0.183333,0.172222,0.554167,0.408333,0.475000,0.4,0.125000,0.416667
49659,V1_9,43167,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,0.15,0.183333,0.172222,0.554167,0.408333,0.475000,0.4,0.116667,0.416667
49660,V1_9,43168,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.622222,0.15,0.183333,0.172222,0.554167,0.422222,0.475000,0.4,0.116667,0.416667
49661,V1_9,43169,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,0.15,0.183333,0.172222,0.550000,0.422222,0.475000,0.4,0.116667,0.416667
49662,V1_9,43170,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,0.15,0.183333,0.166667,0.554167,0.422222,0.475000,0.4,0.116667,0.416667

In [9]:
data["X"] = data["location"].apply(lambda x: pin[x]["X"])
data["Y"] = data["location"].apply(lambda x: pin[x]["Y"])

In [10]:
reg_impute(data)

In [11]:
data

,location,level_1,C400A2E19293,CD4533FFC0E1,D2B6503554D7,DB8B36A69C56,DD697EA75B68,DF231643E227,E13B805C6CB0,E43355CA8B96,...,E8FD0B453DC4,E96AF2C858BA,EC72840D9AD3,F1307ECB3B90,F1EDAF28E08A,F69A86823B96,FB2EE01C18CE,FDAE5980F28C,X,Y
0,V1_10,30171,0.411347,0.353837,0.305977,0.535450,0.433431,0.269984,0.265770,0.449929,...,0.306017,0.183333,0.491754,0.533585,0.365368,0.347862,0.083012,0.418071,11.17660,5.29753
1,V1_10,30172,0.411347,0.353837,0.305977,0.535450,0.433431,0.269984,0.300000,0.449929,...,0.306017,0.183333,0.491754,0.533585,0.365368,0.347862,0.083012,0.418071,11.17660,5.29753
2,V1_10,30173,0.533333,0.353837,0.305977,0.535450,0.433431,0.269984,0.300000,0.449929,...,0.306017,0.183333,0.491754,0.533585,0.365368,0.347862,0.083012,0.418071,11.17660,5.29753
3,V1_10,30174,0.533333,0.353837,0.305977,0.535450,0.433431,0.269984,0.300000,0.266667,...,0.306017,0.183333,0.491754,0.533585,0.416667,0.347862,0.083012,0.418071,11.17660,5.29753
4,V1_10,30175,0.533333,0.353837,0.305977,0.535450,0.433431,0.269984,0.300000,0.266667,...,0.306017,0.183333,0.491754,0.566667,0.416667,0.347862,0.083012,0.418071,11.17660,5.29753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49658,V1_9,43166,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,...,0.183333,0.172222,0.554167,0.408333,0.475000,0.400000,0.125000,0.416667,8.17867,5.28213
49659,V1_9,43167,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,...,0.183333,0.172222,0.554167,0.408333,0.475000,0.400000,0.116667,0.416667,8.17867,5.28213
49660,V1_9,43168,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.622222,...,0.183333,0.172222,0.554167,0.422222,0.475000,0.400000,0.116667,0.416667,8.17867,5.28213
49661,V1_9,43169,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,...,0.183333,0.172222,0.550000,0.422222,0.475000,0.400000,0.116667,0.416667,8.17867,5.28213
49662,V1_9,43170,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,...,0.183333,0.166667,0.554167,0.422222,0.475000,0.400000,0.116667,0.416667,8.17867,5.28213

In [12]:
raw = read_data("../Data/rssi5.csv")
raw[scanners] = min_max_scaling(raw[scanners])

All beacons: ['0117C55D14E4']
Selecting all

In [13]:
raw.sort_values("time", inplace=True)
raw = raw.groupby("location").rolling(30, min_periods=1).mean().reset_index()
raw = raw.set_index("location").groupby("location").ffill().reset_index()

In [14]:
raw.fillna(0, inplace=True)
raw

,location,level_1,C400A2E19293,CD4533FFC0E1,D2B6503554D7,DB8B36A69C56,DD697EA75B68,DF231643E227,E13B805C6CB0,E43355CA8B96,E6D9D20DD197,E8FD0B453DC4,E96AF2C858BA,EC72840D9AD3,F1307ECB3B90,F1EDAF28E08A,F69A86823B96,FB2EE01C18CE,FDAE5980F28C
0,V1_10,30171,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.183333,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
1,V1_10,30172,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.300000,0.000000,0.00,0.000000,0.183333,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
2,V1_10,30173,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.300000,0.000000,0.00,0.000000,0.183333,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
3,V1_10,30174,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.300000,0.266667,0.00,0.000000,0.183333,0.000000,0.000000,0.416667,0.0,0.000000,0.000000
4,V1_10,30175,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.300000,0.266667,0.00,0.000000,0.183333,0.000000,0.566667,0.416667,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49658,V1_9,43166,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,0.15,0.183333,0.172222,0.554167,0.408333,0.475000,0.4,0.125000,0.416667
49659,V1_9,43167,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,0.15,0.183333,0.172222,0.554167,0.408333,0.475000,0.4,0.116667,0.416667
49660,V1_9,43168,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.622222,0.15,0.183333,0.172222,0.554167,0.422222,0.475000,0.4,0.116667,0.416667
49661,V1_9,43169,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,0.15,0.183333,0.172222,0.550000,0.422222,0.475000,0.4,0.116667,0.416667
49662,V1_9,43170,0.433333,0.283333,0.366667,0.611111,0.483333,0.216667,0.133333,0.620833,0.15,0.183333,0.166667,0.554167,0.422222,0.475000,0.4,0.116667,0.416667

In [15]:
dt = tf.data.Dataset.from_tensor_slices((raw[scanners].values, data[scanners].values))
dt = dt.batch(32)

In [16]:
def corrupt(x, y):
    prob = [[1, 3]] * tf.shape(x)[0]
    log_prob = tf.math.log(tf.cast(prob, dtype=tf.float32))
    bits = tf.random.categorical(log_prob, 17)
    bits = tf.cast(bits, dtype=tf.float64)
    return tf.multiply(x, bits), y

dt = dt.map(corrupt)

In [17]:
epochs = 500

model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(14, input_shape=(17,)),
    tf.keras.layers.Dense(12),
    tf.keras.layers.Dense(14),
    tf.keras.layers.Dense(17)
])

optimizer = tf.keras.optimizers.RMSprop(learning_rate=0.0002)

model.compile(optimizer=optimizer,
              loss='mse',
              metrics=['mae', 'mse'])

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 14)                252
_________________________________________________________________
dense_1 (Dense)              (None, 12)                180
_________________________________________________________________
dense_2 (Dense)              (None, 14)                182
_________________________________________________________________
dense_3 (Dense)              (None, 17)                255
=================================================================
Total params: 869
Trainable params: 869
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(dt, epochs=epochs)

Epoch 1/500
1552/1552 [==============================] - 4s 3ms/step - loss: 0.0506 - mae: 0.1652 - mse: 0.0506
Epoch 2/500
1552/1552 [==============================] - 2s 1ms/step - loss: 0.0136 - mae: 0.0873 - mse: 0.0136
Epoch 3/500
1552/1552 [==============================] - 2s 1ms/step - loss: 0.0110 - mae: 0.0773 - mse: 0.0110
Epoch 4/500
1552/1552 [==============================] - 2s 1ms/step - loss: 0.0097 - mae: 0.0721 - mse: 0.0097
Epoch 5/500
1552/1552 [==============================] - 2s 1ms/step - loss: 0.0090 - mae: 0.0687 - mse: 0.0089
Epoch 6/500
1552/1552 [==============================] - 2s 1ms/step - loss: 0.0087 - mae: 0.0672 - mse: 0.0087
Epoch 7/500
1552/1552 [==============================] - 2s 1ms/step - loss: 0.0084 - mae: 0.0654 - mse: 0.0084
Epoch 8/500
1552/1552 [==============================] - 2s 1ms/step - loss: 0.0081 - mae: 0.0640 - mse: 0.0080
Epoch 9/500
1552/1552 [==============================] - 2s 1ms/step - loss: 0.0079 - mae: 0.0631 - mse: 0.0079
Epoch 10/500
1552/1552 [==============================] - 2s 1ms/step - loss: 0.0077 - mae: 0.0619 - mse: 0.0077
Epoch 11/500
1552/1552 [==============================] - 2s 1ms/step - loss: 0.0075 - mae: 0.0609 - mse: 0.0075
Epoch 12/500
1552/1552 [==============================] - 2s 1ms/step - loss: 0.0073 - mae: 0.0598 - mse: 0.0072
Epoch 13/500
1380/1552 [=========================>....] - ETA: 0s - loss: 0.0069 - mae: 0.0582 - mse: 0.0069

In [ ]:
model.save("../Models/Autoencoder_Simple.h5")